#################################################################################################################################################################
############## Platform                                                                                                                              [ Platform ]
common --enable_platform_specific_config
common --noslim_profile
common --experimental_profile_include_target_label
common --experimental_profile_include_primary_output
common --keep_going

########## Hermetic                                                                                                                         [ Platform, Hermetic ]
common --@toolchains_llvm_bootstrapped//config:experimental_stub_libgcc_s=True

#################################################################################################################################################################
##### Interface                                                                                                                                     [ Interface ]
common --verbose_failures --explain=.build/bazel/result/trace.log

#################################################################################################################################################################
########## Build                                                                                                                                        [ Build ]
common --symlink_prefix=.build/bazel/result/ --//:symlink_prefix=.build/bazel/result/
common --show_timestamps --enable_runfiles --color=yes --curses=yes
common --sandbox_default_allow_network=false
common --lockfile_mode=update

########## Remote                                                                                                                                      [ Remote ]
common --bes_results_url=https://vantle.buildbuddy.io/invocation/
common --bes_backend=grpcs://vantle.buildbuddy.io
common --bes_upload_mode=fully_async
common --remote_cache=grpcs://vantle.buildbuddy.io
common --remote_timeout=15m
common --remote_cache_compression
common --experimental_remote_cache_compression_threshold=100
common --build_metadata=REPO_URL=https://github.com/Vantle/Vantle.git
common --build_metadata=module=vantle

##### Execution                                                                                                                              [ Remote, Execution ]
common:remote --remote_executor=grpcs://vantle.buildbuddy.io
common:remote --extra_execution_platforms=//platform/bazel/buildbuddy:rbe
common:remote --platforms=//platform/bazel/buildbuddy:rbe
common:remote --jobs=256
common:remote --build_metadata=ROLE=CI

##### Java                                                                                                                                        [ Build, Java ]
common --java_runtime_version=remotejdk_25
common --java_language_version=25
common --tool_java_runtime_version=remotejdk_25
common --tool_java_language_version=25

##### Document                                                                                                                                  [ Build, Document ]
common --aspects=//component/web/starlark:defs.bzl%validate
common --output_groups=+validation

##### Rust                                                                                                                                        [ Build, Rust ]
common --aspects=@rules_rust//rust:defs.bzl%rust_clippy_aspect
common --aspects=@rules_rust//rust:defs.bzl%rustfmt_aspect
common --output_groups=+clippy_checks,+rustfmt_checks
common --@rules_rust//rust/settings:clippy_flag=-Dwarnings
common --@rules_rust//rust/settings:clippy_flag=-Dclippy::pedantic
common --@rules_rust//rust/settings:clippy_flag=-Aclippy::module_name_repetitions
common --@rules_rust//rust/settings:clippy_flag=-Aclippy::missing_errors_doc
common --@rules_rust//rust/settings:clippy_flag=-Aclippy::missing_panics_doc
common --@rules_rust//rust/settings:clippy_flag=-Aclippy::missing_docs_in_private_items
common --@rules_rust//rust/settings:clippy_flag=-Aclippy::similar_names
common --@rules_rust//rust/settings:clippy_flag=-Aclippy::too_many_lines
common --@rules_rust//rust/settings:clippy_flag=-Aclippy::needless_pass_by_value

#################################################################################################################################################################
########## Execution                                                                                                                                  [ Execute ]
##### Rust                                                                                                                                      [ Execute, Rust ]
common --@rules_rust//rust/settings:rustc_output_diagnostics=true --output_groups=+rust_lib_rustc_output,+rust_metadata_rustc_output
common --@rules_rust//:extra_rustc_flags=--verbose
common:sync --action_env=REPIN=1

#################################################################################################################################################################
##### Test                                                                                                                                               [ Test ]
test --test_verbose_timeout_warnings
test --test_output=all

##### Coverage                                                                                                                                       [ Coverage ]
coverage --collect_code_coverage
coverage --combined_report=lcov
coverage --experimental_use_llvm_covmap

#################################################################################################################################################################
##### Strategy                                                                                                                                       [ Strategy ]
common --compilation_mode=dbg --strip=never

common:minimal --compilation_mode=fastbuild --strip=always
common:release --compilation_mode=opt --linkopt=-s --strip=always

#################################################################################################################################################################
##### Observation                                                                                                                                 [ Observation ]
common:observe:transparent --//platform/observation:mode=transparent
common:observe:opaque --//platform/observation:mode=opaque
common:observe:format:standard --//platform/observation:format=standard
common:observe:format:chrome --//platform/observation:format=chrome
common:observe:format:stream --//platform/observation:format=stream
common:observe:level:trace --//platform/observation:level=trace
common:observe:level:debug --//platform/observation:level=debug
common:observe:level:info --//platform/observation:level=info
common:observe:level:warn --//platform/observation:level=warn
common:observe:level:error --//platform/observation:level=error

########## Test                                                                                                                             [ Observation, Test ]
test --//platform/observation:mode=transparent
test --//platform/observation:format=chrome
test --//platform/observation:level=debug

#################################################################################################################################################################
##### Windows                                                                                                                              [ Platform, Windows ]
common:windows --color=auto
common:windows --curses=auto

#################################################################################################################################################################
##### Import
try-import %workspace%/user.bazelrc
try-import %workspace%/environment.bazelrc