#################################################################################################################################################################
.build/bazel/result
.build/bazel/trace
.build/integration

rust-project.json

MODULE.bazel.lock

user.bazelrc
workspace.bazelrc