#################################################################################################################################################################
.build/

.claude/settings.local.json
.vscode

.DS_Store

trace.json
rust-project.json

user.bazelrc
workspace.bazelrc
